<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kalipso.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kalipso.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.40.49154" newVersion="15.0.40.49154"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Kalipso.Properties.Settings>
      <setting name="Polarity" serializeAs="String">
        <value>True</value>
      </setting>
    </Kalipso.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Kalipso.Properties.Settings>
      <setting name="defHeight" serializeAs="String">
        <value>0.100</value>
      </setting>
      <setting name="defWidth" serializeAs="String">
        <value>1.000</value>
      </setting>
      <setting name="defOperator" serializeAs="String">
        <value>Andryushin K.P.</value>
      </setting>
      <setting name="defDevice" serializeAs="String">
        <value>Agilent4980A</value>
      </setting>
      <setting name="defTemp" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="defFreq" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="defTempSint" serializeAs="String">
        <value>1513</value>
      </setting>
      <setting name="defExportMod" serializeAs="String">
        <value>Export to DB(only)</value>
      </setting>
      <setting name="defTempEnd" serializeAs="String">
        <value>753</value>
      </setting>
      <setting name="defComposition" serializeAs="String">
        <value />
      </setting>
      <setting name="deftempStep" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="defNewCycleTemp" serializeAs="String">
        <value>348</value>
      </setting>
      <setting name="defGraphMode" serializeAs="String">
        <value />
      </setting>
      <setting name="defWorkMode" serializeAs="String">
        <value />
      </setting>
      <setting name="defTempList" serializeAs="String">
        <value />
      </setting>
      <setting name="defFreqStart" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="defFreqEnd" serializeAs="String">
        <value>2000000</value>
      </setting>
      <setting name="defParamAMagnit" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="defParamBMagnit" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="defParamCMagnit" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="defParamAReversive" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="defParamBReversive" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="defParamCReversive" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="defParamAd33" serializeAs="String">
        <value>0.0509</value>
      </setting>
      <setting name="defParamBd33" serializeAs="String">
        <value>-0.1418</value>
      </setting>
      <setting name="defParamCd33" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="defParamACTE" serializeAs="String">
        <value>20.425</value>
      </setting>
      <setting name="defParamBCTE" serializeAs="String">
        <value>3.8974</value>
      </setting>
      <setting name="defGPIBAddress" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="defParamA_d33_20" serializeAs="String">
        <value>21.40117</value>
      </setting>
      <setting name="defParamB_d33_20" serializeAs="String">
        <value>-13.52108</value>
      </setting>
      <setting name="defParamA_d33_200" serializeAs="String">
        <value>213.0142</value>
      </setting>
      <setting name="defParamB_d33_200" serializeAs="String">
        <value>-133.99419</value>
      </setting>
      <setting name="defParamA_d33_2000" serializeAs="String">
        <value>1700.40509</value>
      </setting>
      <setting name="defParamB_d33_2000" serializeAs="String">
        <value>-1049.12549</value>
      </setting>
      <setting name="defParamA_CTE_20" serializeAs="String">
        <value>21.249</value>
      </setting>
      <setting name="defParamB_CTE_20" serializeAs="String">
        <value>1.2904</value>
      </setting>
      <setting name="defParamA_CTE_200" serializeAs="String">
        <value>207.72</value>
      </setting>
      <setting name="defParamB_CTE_200" serializeAs="String">
        <value>13.621</value>
      </setting>
      <setting name="defParamA_CTE_2000" serializeAs="String">
        <value>2069.5</value>
      </setting>
      <setting name="defParamB_CTE_2000" serializeAs="String">
        <value>133.15</value>
      </setting>
      <setting name="defParamA_U_d33" serializeAs="String">
        <value>51.752</value>
      </setting>
      <setting name="defParamB_U_d33" serializeAs="String">
        <value>-44.561</value>
      </setting>
      <setting name="defParamSolidState" serializeAs="String">
        <value>polycrystal</value>
      </setting>
      <setting name="defParam_r_exp" serializeAs="String">
        <value>4.45</value>
      </setting>
      <setting name="defParamSampleNum" serializeAs="String">
        <value>1</value>
      </setting>
    </Kalipso.Properties.Settings>
  </userSettings>
</configuration>
